
.button-load{
    margin-left: 50em;
    margin-top: 23px;
    margin-bottom: 50px;
    
}

.butt-width {
    padding-left:200px;
    padding-right:200px;
}


.circular-progr-center {
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
z-index: 450;
}

.card-ul-margin{
    margin-top: 55px!important;
    margin-left: 190px!important;
}